<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>单页cart</title>
    <link rel="stylesheet" href="./css/main.css" />
  </head>
  <body>
    <div class="g-panel">
      <div id="list" class="device">
        <header>
          <span class="header-title">商品列表</span>
        </header>
        <div class="page">
          <div class="tab-wrap">
            <ul class="cate-tab">
              <li
                class="cate"
                :class="{'tab-active':cate_index===index}"
                v-for="(item,index) of cate"
                @click="toggleCate(index)"
              >
                {{ item.des }}
              </li>
            </ul>
          </div>
          <ul class="filter-bar">
            <li
              class="filter-opt"
              :class="{'filter-active':filter_index===index,'filter-price':item.method==='sortPrice','price-down':price_isAsc,'price-up':!price_isAsc
              }"
              v-for="(item,index) of sortMethods"
              @click="sortBy(item.method)"
            >
              {{ item.name }}
            </li>
          </ul>
          <ul class="goods-list">
            <li class="goods-item" v-for="(item,index) of list">
              <div class="goods-img">
                <img :src="item.img" :alt="item.name" />
                <div class="flag" v-if="item.ishot">热</div>
              </div>
              <div class="goods-info">
                <p class="goods-title">{{ item.name }}</p>
                <div class="goods-price">
                  <span
                    ><b>{{ item.price }}</b></span
                  >
                </div>
                <span class="des">{{item.sales}}人付款</span>
                <span class="save" @click="addToCart(item)">+</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="device" id="cart">
        <header>
          <span class="header-title">购物清单</span>
          <span class="header-edit" @click="toggleDelBtn">
            <span v-show="!delFlag">编辑</span>
            <span v-show="delFlag">完成</span>
          </span>
        </header>
        <div class="page">
          <div class="empty-states" v-if="cart.length===0">
            <span>这里是空的，快去逛逛吧</span>
          </div>
          <ul class="goods-list cart-list" v-else>
            <li class="goods-item" v-for="(item,index) of cart">
              <div class="item-selector">
                <div
                  class="icon-selector"
                  :class="{'selector-active': item.checked}"
                  @click="selectGoods(item)"
                >
                  <svg
                    t="1504061791962"
                    class="icon"
                    style=""
                    viewBox="0 0 1024 1024"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    p-id="2922"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="12"
                    height="12"
                  >
                    <path
                      d="M908.288 127.488l-537.6 537.6-254.976-254.976L0 525.824l254.976 254.976 115.712 115.712L486.4 780.8l537.6-537.6z"
                      fill="#ffffff"
                      p-id="2923"
                    ></path>
                  </svg>
                </div>
              </div>
              <div class="goods-img">
                <img :src="item.img" :alt="item.name" />
              </div>
              <div class="goods-info">
                <p class="goods-title">{{item.name}}</p>
                <div class="goods-price">
                  <span
                    ><b>{{ item.price }}</b></span
                  >
                </div>
                <span class="des">库存{{ item.stock }}件</span>
                <div class="goods-num">
                  <div class="num-btn" @click="changeQty(true,item)">+</div>
                  <div class="show-num">{{ item.quantity }}</div>
                  <div class="num-btn" @click="changeQty(false,item)">-</div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="action-bar" :class="{'del-box':delFlag}">
          <div class="g-selector" @click="checkAll">
            <div class="item-selector">
              <div
                class="icon-selector"
                :class="{'selector-active':checkAllFlag}"
              >
                <svg
                  t="1504061791962"
                  class="icon"
                  style=""
                  viewBox="0 0 1024 1024"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  p-id="2922"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="12"
                  height="12"
                >
                  <path
                    d="M908.288 127.488l-537.6 537.6-254.976-254.976L0 525.824l254.976 254.976 115.712 115.712L486.4 780.8l537.6-537.6z"
                    fill="#ffffff"
                    p-id="2923"
                  ></path>
                </svg>
              </div>
            </div>
            <span>全选</span>
          </div>
          <div class="action-btn buy-btn">去结算({{ selectedNum }})</div>
          <div class="action-btn del-btn" @click="delGoods">
            删除({{ selectedNum }})
          </div>
          <div class="total">
            合计：<span
              ><b>{{ totalPrice }}</b></span
            >
          </div>
        </div>
      </div>
    </div>
    <script src="./js/vue.min.js"></script>
    <script src="./js/app.js"></script>
  </body>
</html>
